header.header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
}
header.header section {
  height: 100%;
  width: 100%;
  background-color: #0eb7eb;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  margin-top: 37px;
}
header.header section div.header-avatar {
  display: flex;
  justify-content: center;
}
header.header section div.header-name {
  display: flex;
  justify-content: center;
}
header.header section div.header-name h2 {
  margin: 0;
  color: white;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  header.header {
    flex-basis: 35%;
    position: sticky;
    top: 20%;
    align-items: center;
  }
  header.header section {
    width: 80%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
