header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0eb7eb;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  margin-top: 3.5em;
}

.header__avatar {
  display: flex;
  justify-content: center;
}

.header__name {
  display: flex;
  justify-content: center;
}

.header__name h2 {
  margin: 0;
}