nav {
  background-color: #4056A1;
  color: #ffffff;
  height: 120px;
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  margin-top: -82px;
  z-index: 1;
}

.nav-left {
  font-family: 'Bungee', cursive;
  font-size: 2em;
}

.nav-right {
  text-align: center;
}

.nav-right p {
  margin: 0;
}

.nav-right i {
  color: red;
}