nav {
  background-color: #4056A1;
  color: #ffffff;
  height: 120px;
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  margin-top: -82px;
  z-index: 1;
}

.nav-left {
  font-family: 'Bungee', cursive;
  font-size: 2em;
}

.nav-right {
  display: flex;
  justify-content: center;
}

.nav-right button {
  margin: 0;
  margin-top: -20px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

@keyframes iconMove {
  0% {top: 68px;}
  50% {top: 73px;}
  100% {top: 68px;}
}

.nav-right i {
  position: absolute;
  color: red;
  animation-name: iconMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  nav {
    margin: 0;
  }
}