.container__newTweet {
  width: 100%;
}

.container__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container__form label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.container__form textarea {
  margin-bottom: 0.5em;
  font-size: 0.7em;
  height: 3em;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 4px solid #545149;
}

.container__tweetBtn {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
}

.container__tweetBtn button {
  background-color: #4056A1;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}