.container__newTweet {
  width: 100%;
}

.container__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container__form label {
  position: absolute;
  font-weight: bold;
}

.container__form textarea {
  margin-bottom: 0.5em;
  height: 1.7em;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 3px solid;
}

.container__tweetBtn {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
}

.container__tweetBtn button {
  background-color: #4056A1;
  color: #ffffff;
}