.tweet {
  width: 92%;
  margin: auto;
  border: 4px solid #545149;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet:hover {
  box-shadow: 6px 6px 2px 2px #c9cae2;
  transition: all 0.4s ease-in-out;
}

.tweet__header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet__header img {
  margin: 0.7em 0.5em 0.5em 0;
  width: 2em;
  height: 2em;
}

.tweet__header p {
  flex-grow: 1;
}

.tweet__header span {
  font-weight: 600;
  color: #c5cbe3;
}

.tweet__content {
  width: 98%;
  border-bottom: 4px solid #545149;
}

.tweet__content p {
  padding: 0 0.8em;
  margin-bottom: 1.5em;
  font-weight: 600;
}

.tweet__footer {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6em;
  font-weight: 600;
}

.tweet__icons {
  color: #46569c;
}

.tweet__icons i {
  margin-right: 0.5em;
}

.tweet__icons i:hover {
  color: #c7982b;
  transition: color 0.4s ease-in-out;
}